---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Desarrollo Web",
    description:
      "Diseñamos y desarrollamos sitios web que destacan. Desde la conceptualización hasta la implementación, creamos experiencias digitales que cautivan a tu audiencia.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Posicionamiento Web",
    description:
      "Mejoramos tu visibilidad en línea. Con estrategias de SEO avanzadas, impulsamos tu sitio web hacia las primeras posiciones en los motores de búsqueda, generando más tráfico y clientes potenciales.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Diseño Grafico",
    description:
      "Damos vida a tu marca. Desde el diseño de logotipos hasta la creación de una identidad visual coherente, creamos gráficos que destacan y conectan con tu audiencia, transmitiendo la esencia de tu marca.",
    icon: "bx:bxs-data",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Todo lo que necesitas para tener presencia en Internet
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Te ofrecemos un conjunto completo de servicios para que tu negocio prospere en el mundo digital.
    Desde el diseño y desarrollo web hasta el marketing y la analítica, te ayudamos a crear una presencia en línea sólida y atractiva que impulse tus resultados.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
